# URL base del Backend Java Spring Boot
VITE_API_URL=http://localhost:8080

# Entorno de ejecución (development | staging | production)
VITE_APP_ENV=development

# Nombre del sistema
VITE_APP_NAME=CertiDigital
